<section class="About container">
    <h1 class="text-center mb-5">About Us</h1>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa soluta enim ipsum unde dolorem vitae nostrum dicta. A eum laudantium sit facere, sapiente aliquam assumenda omnis veniam fugit, temporibus repellat.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde natus aspernatur harum quod esse ex obcaecati rerum possimus laborum mollitia eum sapiente, repellat dolorem vero, fuga, voluptas fugit amet molestias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa officia dignissimos, repellendus neque molestias adipisci natus, ad quis aspernatur ullam est obcaecati molestiae ab explicabo, sint animi exercitationem aliquid placeat!</p>
    
    <div class="follow text-center">
       <h4>Follow Us</h4>
        <a href="">Facebook</a>
        <a href="">Youtube</a>
        <a href="">Instagram</a>
        <a href="">Twitter</a>
    </div>





</section>
